# Enforce LF line endings for all text files in this repository
* text=auto eol=lf

# Scripts
*.py text eol=lf
*.sh text eol=lf

# Markdown
*.md text eol=lf

# JSON & Templates
*.json text eol=lf
*.j2 text eol=lf

# Binary
*.png binary
*.jpg binary
*.zip binary
