---
# GENERISANI FAJL - NE UREĐIVATI DIREKTNO
# Izvorni Stack: {{ stack_id }}
# Generator: {{ generator_version }}
---

{{ core_contract }}

{{ core_severity }}

{{ core_report_schema }}

{{ core_dod }}

{{ stack_overlay }}

## Manifest Baseline-a Stack-a

```json
{{ baseline_json }}
```
